{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="form-container">
        {% if not attendances %}
            <p>No students have attended yet.</p>
        {% endif %}
        <table class="student-table">
            <thead>
                <tr>
                    <th>IDNO</th>
                    <th>LASTNAME</th>
                    <th>FIRSTNAME</th>
                    <th>COURSE</th>
                    <th>LEVEL</th>
                    <th>TIME LOGGED</th>
                </tr>
            </thead>
            <tbody>
                {% for attendance in attendances %}
                <tr>
                    <td>{{ attendance.idno }}</td>
                    <td>{{ attendance.lastname }}</td>
                    <td>{{ attendance.firstname }}</td>
                    <td>{{ attendance.course }}</td>
                    <td>{{ attendance.level }}</td>
                    <td>{{ attendance.timelogged }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
