<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
    <div class="login-content">
        <form method="POST" action="/login"> 
            <input class="login" type="text" name="username"placeholder="Username"/> <br>
            <input class="login" type="password" name="password" 	placeholder="Password"/> <br>
            <div style="text-align: center; margin-top: 5px;">
                <input style="width: 40%; height: 40px;" type="submit" value="Login" />
            </div>            
        </form>
    </div>
    <div class="w3-center" style="text-align: center;">
        <hr/>
        &copy; copyright 2024, Dal, Yancha
    </div> 
    <style>
        .login {
            width: 94%;
            padding: 10px;
            margin-top: 5%;
        }
        .login-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 25%;
            height: 160px;
            margin-top: 5%;
        }
        </style>

</body>
</html>